<div id='results', class='new_quiz'>
	<%= form_tag ("/quizzes/#{params[:id]}/check_answers") do %>
		<h1>Quiz for <%= Date.today.strftime("%A %b %-d, %Y") %></h1>
		<ol>
			<% @quiz.questions.each do |question| %>
				<li>
					<div class='definitions'>
						<ul>
							<% question.word.definitions.each do |definition| %>
								<li><%= definition.text %></li>
							<% end %>
						</ul>
					</div>
					<div class='choices'>
						<% if (@quiz.difficulty == 3) %>
							<%= text_field_tag "question_#{question.number}" %>
						<% else %>
							<%= select_tag "question_#{question.number}", @options.html_safe, include_blank: true %>
						<% end %>
					</div>
				</li>
			<% end %>
		</ol>
		<%= submit_tag "Submit quiz" %>
	<% end %>
</div>