<div id="results">
	<h1>Results for <%= Date.today.strftime("%A %b %-d, %Y") %></h1>
	Auth Hash: <%= @quiz.auth_hash %>

	<% if @responded == true %>
		<ol>
			<% @questions.each do |question| %>
				<li>
					<div class="definitions">
						<ul>
							<% question.word.definitions.each do |definition| %>
								<li>
									<%= definition.text %>
								</li>
							<% end %>
						</ul>
					</div>
					<div class="right_wrong">
						<% if question.answer.correct? %>
							<span class="right_symbol">✔</span><%= question.word.name %>
						<% else %>
							<span class="wrong_symbol">✘</span><%= question.answer.response %><span class="right_answer">Correct Answer: <%= question.word.name %></span>
						<% end %>
					</div>

				</li>
			<% end %>
		</ol>
	<% else %>
		<div id="not_responded"><%= "You haven't responded to this quiz yet" %></div>
	<% end %>
</div>