<div id="results">
	<h1>Results for Quiz #<%= @quiz.id %></h1>
	<!--Auth Hash: <%= @quiz.auth_hash %> -->
	<% @questions.each do |question| %>
		<% break if question.response? %>
		<% if question == @questions.last %>
			<div id="not_responded"><%= "You haven't responded to this quiz yet" %></div>
			<% @not_responded = true %>
		<% end %>
	<% end %>
	<ol>
		<% unless @not_responded == true %>
			<% @questions.each do |question| %>
				<li>
					<div class="definitions">
						<ul>
							<% question.word.definitions.each do |definition| %>
								<li>
									<%= definition.text %>
								</li>
							<% end %>
						</ul>
					</div>
					<div class="right_wrong">
						<% if question.correct %>
							<span class="right_symbol">✔</span><%= question.word.name %>
						<% else %>
							<span class="wrong_symbol">✘</span><%= question.response %><span class="right_answer">Correct Answer: <%= question.word.name %></span>
						<% end %>
					</div>

				</li>
			<% end %>
		<% end %>
	</ol>
</div>