<h2>Sign up</h2><br />
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <div class="formError"><%= devise_error_messages! %></div>

  <div><%= f.email_field :email, placeholder: "Email" %></div>

  <div><%= f.password_field :password, placeholder: "Password" %></div>

  <div><%= f.password_field :password_confirmation, placeholder: "Again" %></div><br />

  <div><%= f.submit "Sign up", class: "btn btn-primary" %></div>
<% end %>