<!DOCTYPE html>
<html>
<head>
  <title>Wordsmith</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body id="body">
	<header>
		<div class="container">
			<%= link_to "wordsmith", root_path, id: "logo" %> 
			<nav>
				<ul class="">
					<% if signed_in? %> 
						<div id="navNavLinks">
								<li><%= link_to "My words", words_path %></li>
								<li><%= link_to "Home", root_path %></li>
								<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
						</div>
					<% else %>
						<%= render 'shared/login_form' if current_page?(root_path) %>
					<% end %>
				</ul>
			</nav>	
			<%#= render 'layouts/header' %>
		</div>
	</header>
<div id="main" class="row-fluid">
	<div class="span12">
		<% unless (params[:controller].in?(['devise/sessions','devise/registrations'])) %>
			<%= render 'shared/flash_messages' %>
		<% end %>

		<%= yield %>
		<%= debug(params) if Rails.env.development? %>
	</div>
<footer>
	<%= render 'shared/footer' %>
</footer>
</div>
</body>
</html>
