<!DOCTYPE html>
<html>
<head>
  <title>Wordsmith</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header>
		<div class="container">
			<%= link_to "wordsmith", root_path, id: "logo" %> 
			<nav>
				<ul class="">
					<% if signed_in? %> 
						<div id="navNavLinks">
								<li><%= link_to "Home", root_path %></li>
								<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
						</div>
					<% else %>
						<%= render 'shared/login_form' if current_page?(root_path) %>
					<% end %>
				</ul>
			</nav>	
			<%#= render 'layouts/header' %>
		</div>
	</header>
<div id="main">
	<% unless (params[:controller] == 'devise/sessions' || params[:controller] == 'devise/registrations') && (params[:action] == 'create') %>
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
	<% end %>

	<%= yield %>
	<%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
